.footer {
    background-color: #00FF00;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;   
}
.lien {
    color: #000;
}
li {
    list-style: none;
    text-align: left;
    padding-top: 20px;
    font-size: 1.2em;
}
.texte {
    text-align: center;
    padding-top: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    li{
        text-align: center;
        padding-right: 40px;
    }
}