.formulaire {
    margin: 20px;
}
.input-form {
    height: 40px !important;
    width: 500px !important;
    border-color: #000;
    border-radius: 3px;
}
.bouton{
    width: 250px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .bouton{
        width: 150px;
    }
    .input-form{
        width: 200px !important;
    }
}